*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
 }
 
 h1{
     display: block;
     margin: 128px auto 12px auto;
     font-style: normal;
     font-weight: 500;
     font-size: 32px;
     line-height: 41px;
     letter-spacing: 0.41px;
     text-align: center;
 }
 .border{
    border: 1px solid black;
    border-radius: 5px;
    height: 620px;
    width: 50vw;
    width: 50vh;
    padding: 25px;
    text-align: center;
    margin: 30px auto;
 }
 
 .text1{
     margin: 0 auto 102px auto;
     display: block;
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
     line-height: 26px;
     letter-spacing: 0.41px;
     color: rgba(0, 0, 0, 0.5);
     margin-bottom:102px ;
     text-align: center;
 }
 
 
 .input{
     display: block;
     height: 48px;
    width: 50%;
     margin: 0 auto 12px auto;
     border-radius: 6px;
     border: none;
     background-color:  #F2F2F7;
     text-align: center;
     
 }
 
 .input::placeholder{
     padding: 14px
 }
 
 .forget {
     margin-top: 17px;
     text-align: right;
     margin: 15px 10%;
     color: #007AFF;
     font-size: 16px;
     line-height: 22px;
     letter-spacing: -0,41px;

 }
 
 .button{ 
 margin: 30px 30%;
 width: 40%;
 height: 40px;
     background-color: #000000;
     color: white;
     border-radius: 6px;
     
 }
 
     
 .last-paragraph{
     margin-top: 60px;
     text-align: center;
     font-size: 16px;
     color: #7D7D7D;
 }
 .sign-up{
     color:  #007AFF;
 }
 @media screen and (max-width: 768px) {
     .border{
        margin-top: 50px;
        height: 700px;
        width: 80vw;
     }
     .forget{
         margin: 15px 1px;
     }
     .input{
         width: 65%;
     }
 }